[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wikkitidy"]
	path = wikkitidy
	url = https://github.com/wikihistories/wikkitidy
